// 全局通用样式

// 引入变量
@import "./_variables";

// 颜色相关工具类：
@each $colorKey, $color in $colors {
  // 文本颜色
  .text-#{$colorKey} {
    color: $color;
  }
  // 背景颜色
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// 文本对齐工具类：
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}

// 文本大小工具类：

@each $key, $val in $font-size {
  .text-#{$key} {
    font-size: $base-font-size * $val;
  }
}

// flex工具类：
.d-flex {
  display: flex;
}
.flex-column {
  //纵向排列
  flex-direction: column;
}
.flex-wrap {
  // 换行
  flex-wrap: wrap;
}
.flex-1 {
  //自动增长
  flex: 1;
}

@each $key, $val in $flex-jc {
  //主轴对齐方式工具类
  .flex-jc-#{$key} {
    justify-content: $val;
  }
}

@each $key, $val in $flex-ai {
  //辅轴对齐方式工具类
  .flex-ai-#{$key} {
    align-items: $val;
  }
}

// 边距：margin、padding
@each $typesKey, $type in $space-types {
  @each $sizesKey, $size in $space-sizes {
    // m-3,p-1...
    .#{$typesKey}-#{$sizesKey} {
      #{$type}: $size * $space-size-base;
    }
    // mx-1,py-3...
    .#{$typesKey}x-#{$sizesKey} {
      #{$type}-left: $size * $space-size-base;
      #{$type}-right: $size * $space-size-base;
    }
    .#{$typesKey}y-#{$sizesKey} {
      #{$type}-bottom: $size * $space-size-base;
      #{$type}-top: $size * $space-size-base;
    }
  }

  //mt-1,pb-2...
  @each $directionsKey, $direction in $space-directions {
    @each $sizesKey, $size in $space-sizes {
      .#{$typesKey}#{$directionsKey}-#{$sizesKey} {
        #{$type}-#{$direction}: $size * $space-size-base;
      }
    }
  }
}

// width, height
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

// 精灵图---sprites
.sprites {
  background: url(../images/sprites.png) no-repeat 0 0;
  background-size: 28.8462rem auto;
  display: inline-block;
  &.sprites-arrow {
    //收起icon
    width: 0.7692rem;
    height: 0.7692rem;
    background-position: 38.577% 52.076%;
    &.reverse{
      transform: rotate(180deg);
    }
  }
  &.sprites-news {
    //新闻资讯icon
    width: 1rem;
    height: 1rem;
    background-position: 0.138% 50.452%;
  }
  &.sprites-more {
    //新闻资讯i--更多con
    width: 1.3846rem;
    height: 0.2308rem;
    background-position: 47.619% 56.305%;
  }
  &.sprites-heros {
    width: 0.9231rem;
    height: 1rem;
    background-position: 46.768% 60.452%;
  }
  &.sprites-tipoff {
    //爆料站icon
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.sprites-story {
    //故事站icon
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 90.483% 15.614%;
  }
  &.sprites-shop {
    // 周边商城
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 36.746% 0.924%;
  }
  &.sprites-taste {
    // 体验服
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 10.408% 15.517%;
  }
  &.sprites-new {
    // 新人专区
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 89.733% 1.266%;
  }
  &.sprites-inherit {
    // 荣耀.传承
    width: 1.8462rem;
    height: 1.6923rem;
    background-position: 36.467% 15.287%;
  }
  &.sprites-lib {
    // 模拟战资料库
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 36.746% 0.924%;
  }
  &.sprites-lion {
    // 王者营地
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 36.746% 0.924%;
  }
  &.sprites-public {
    // 公众号
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 36.746% 0.924%;
  }
  &.sprites-ver {
    // 版本介绍
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 36.746% 0.924%;
  }
  &.sprites-fight {
    // 对局环境
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 36.746% 0.924%;
  }
  &.sprites-infint {
    // 无限王者团
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 36.746% 0.924%;
  }

}

// 文本溢出省略号
.eclips {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: none;
  white-space: nowrap;
}

// 边框border相关
@each $key, $val in $space-directions {
  .b#{$key}-1 {
    border-#{$val}: 1px solid map-get($colors, "grey-1");
  }
}

// 文章详情内容相关样式格式化

.ArticleDetail {
  .content {
    p {
      line-height: 2.5em;
      
    }
    img {
      width: 100%;
      height: auto;
    }
    h1,h2,h3,h4,h5,h6{
      line-height: 2.5em;
    }
  }
}
